@charset "utf-8";
/* CSS Document */
/* default styles for document */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  background: #eee;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
}

h1,
h2,
h3,
p,
footer,
section,
aside {
  padding: 1em 0 1em 0;
}

/* change the default style for tags */
h1 {
  font-size: 1.4em;
  color: #030;
}
h2 {
  font-size: 1.2em;
  color: #030;
}
h3 {
  font-size: 1em;
  color: #030;
}

/* header area */
header {
  width: 90%;
  padding: 1em;
  border: 1px solid #dfdcdc;
  border-radius: 15px 15px 15px 15px;
}

/* main content area */
main {
  display: inline-block;
  width: 70%;
  height: 500px;
}

table {
  border-collapse: collapse;
  margin-top: 0.5em;
}

table,
th,
td {
  border: 1px solid black;
  padding: 0.5em;
}

thead {
  font-weight: normal;
  background-color: gray;
  font-size: larger;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:hover {
  background-color: lightgreen;
}

/* navbar */
nav {
  background-color: #183c28;
  /*padding top bottom, not left & right */
  padding: 1rem 0rem;
  width: 100%;
}

nav li {
  display: inline-block;
  padding: 1%;
}
/* Style the links inside the navigation bar */
nav a {
  color: #fefee3ff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}
/* Add a color to the active/current link */
/* <a class="active" ...> */
nav a.active {
  background-color: #bebfc4;
  color: #040f0f;
}
/* Change the color of links on hover */
nav a:hover {
  background-color: #eec643;
  color: #040f0f;
}

/* cafe styles */
#menu-img {
  display: flex;
  margin: auto;
}

#cafe-ul {
  background-color: antiquewhite;
}

#facilities-ul {
  background-color: lightpink;
}

figcaption {
  font-style: italic;
  padding: 1em 0 1em 0;
}

form {
  background-color: lightgrey;
}
fieldset {
  border: 5px solid pink;
  padding: 2em;
}

input {
  margin: 0.2em;
}

legend {
  padding: 0.2em;
  background-color: darkslategrey;
  color: white;
  padding: 0.2em;
}
